<section class="justify-center items-center min-h-screen">
  <div class="p-4 space-y-2 min-h-screen w-full bg-white shadow-md rounded-md ">
    <div class="space-y-4">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">
        Seleccione la Fecha de Finalizacion de la Subasta
      </h2>
      <!-- Sizes -->
      <div class="mt-10">
        <fieldset class="mt-4">
          <legend class="sr-only">Choose a size</legend>
          <div class="grid grid-cols-4 gap-4">
            <!-- Active: "ring-2 ring-indigo-500" -->
            <label
              class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm"
            >
              <input
                type="radio"
                name="size-choice"
                value="XXS"
                class="sr-only"
                aria-labelledby="size-choice-0-label"
              />
              <span id="size-choice-0-label">Un dia</span>
              <!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
              <span
                class="pointer-events-none absolute -inset-px rounded-md"
                aria-hidden="true"
              ></span>
            </label>
            <!-- Active: "ring-2 ring-indigo-500" -->
            <label
              class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm"
            >
              <input
                type="radio"
                name="size-choice"
                value="XS"
                class="sr-only"
                aria-labelledby="size-choice-1-label"
              />
              <span id="size-choice-1-label">Dos dias</span>
              <!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
              <span
                class="pointer-events-none absolute -inset-px rounded-md"
                aria-hidden="true"
              ></span>
            </label>
            <!-- Active: "ring-2 ring-indigo-500" -->
            <label
              class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm"
            >
              <input
                type="radio"
                name="size-choice"
                value="S"
                class="sr-only"
                aria-labelledby="size-choice-2-label"
              />
              <span id="size-choice-2-label">3 Dias</span>
              <!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
              <span
                class="pointer-events-none absolute -inset-px rounded-md"
                aria-hidden="true"
              ></span>
            </label>
            <!-- Active: "ring-2 ring-indigo-500" -->
            <label
              class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm"
            >
              <input
                type="radio"
                name="size-choice"
                value="M"
                class="sr-only"
                aria-labelledby="size-choice-3-label"
              />
              <span id="size-choice-3-label">Una Semana</span>
              <!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
              <span
                class="pointer-events-none absolute -inset-px rounded-md"
                aria-hidden="true"
              ></span>
            </label>
            <!-- Active: "ring-2 ring-indigo-500" -->
            <label
              class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm"
            >
              <input
                type="radio"
                name="size-choice"
                value="L"
                class="sr-only"
                aria-labelledby="size-choice-4-label"
              />
              <span id="size-choice-4-label">Dos Semanas</span>
              <!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
              <span
                class="pointer-events-none absolute -inset-px rounded-md"
                aria-hidden="true"
              ></span>
            </label>
            <!-- Active: "ring-2 ring-indigo-500" -->
            <label
              class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm"
            >
              <input
                type="radio"
                name="size-choice"
                value="XL"
                class="sr-only"
                aria-labelledby="size-choice-5-label"
              />
              <span id="size-choice-5-label">Un Mes</span>
              <!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
              <span
                class="pointer-events-none absolute -inset-px rounded-md"
                aria-hidden="true"
              ></span>
            </label>
            <!-- Active: "ring-2 ring-indigo-500" -->
            <label
              class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-pointer bg-white text-gray-900 shadow-sm"
            >
              <input
                type="radio"
                name="size-choice"
                value="XXL"
                class="sr-only"
                aria-labelledby="size-choice-6-label"
              />
              <span id="size-choice-6-label">Dos Meses</span>
              <!--
                    Active: "border", Not Active: "border-2"
                    Checked: "border-indigo-500", Not Checked: "border-transparent"
                  -->
              <span
                class="pointer-events-none absolute -inset-px rounded-md"
                aria-hidden="true"
              ></span>
            </label>
            <!-- Active: "ring-2 ring-indigo-500" -->
            <label
              class="group relative flex items-center justify-center rounded-md border py-3 px-4 text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 cursor-not-allowed bg-gray-50 text-gray-200"
            >
              <input
                type="radio"
                name="size-choice"
                value="XXXL"
                disabled
                class="sr-only"
                aria-labelledby="size-choice-7-label"
              />
              <span id="size-choice-7-label">Un ano</span>
              <span
                aria-hidden="true"
                class="pointer-events-none absolute -inset-px rounded-md border-2 border-gray-200"
              >
                <svg
                  class="absolute inset-0 h-full w-full stroke-2 text-gray-200"
                  viewBox="0 0 100 100"
                  preserveAspectRatio="none"
                  stroke="currentColor"
                >
                  <line
                    x1="0"
                    y1="100"
                    x2="100"
                    y2="0"
                    vector-effect="non-scaling-stroke"
                  />
                </svg>
              </span>
            </label>
          </div>
        </fieldset>
      </div>
      <!-- Botones -->
      <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
  <!-- Botón "Guardar" -->
  <div class="mb-3 sm:mb-0 sm:mr-2 sm:w-full">
    <button
      (click)="createSubasta()"
      class="w-full inline-flex justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:w-auto"
    >
      Guardar
    </button>
  </div>

  <!-- Espacio entre los botones en dispositivos pequeños -->
  <div class="hidden sm:block sm:w-2"></div>

  <!-- Botón "Cancelar" -->
  <div class="sm:w-full">
    <button
      (click)="Onclose()"
      class="w-full inline-flex justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:w-auto"
    >
      Cancelar
    </button>
  </div>
</div>

    </div>
  </div>
</section>
