<section >
    <div class="text-right mx-5">
        <button (click)="Onclose()">
            X
        </button>
    </div>

    <div class="p-6 space-y-4">
        <h1 class="text-xl font-bold text-black">
            {{new ? 'Nuevo Carro' : 'Actualizar Carro'}}
        </h1>
        <div class="space-y-4 md:space-y-6">
            <input [(ngModel)]="modelo" placeholder="Modelo" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"><br>
            <input [(ngModel)]="color" placeholder="Color" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"><br>
            <input [(ngModel)]="precio" placeholder="Precio" type="number" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"><br>
            <input [(ngModel)]="descripcion" placeholder="Descripcion" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"><br>
            <input [(ngModel)]="img" placeholder="URL de Imagen" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"><br>
       
            <div class="text-center">
                @if (new) {
                    <button (click)="createCar()" class="bg-blue-500 text-white py-2 rounded-md hover:shadow-md">
                        Guardar
                    </button>
                } @else {
                    <button (click)="updateCarro()" class="bg-blue-500 text-white py-3 rounded-md hover:shadow-md">
                        Actualizar
                    </button>
                }
            </div>
        </div>
    </div>
</section>
